h1 {
  text-align: center
}

.my-name {
  font-size: 28px;
}

.github-link {
  display: flex;
  align-items: center;
  margin: 4px;
}

code {
  background-color: #f0d4ee;
  margin: 28px;
  padding: 8px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  font-size: 0.9rem;
  color: #ffffff;
  background-color: var(--gray-color);
}

:root {
  --gray-color: #727272;
}